<%= link_to "Chatroom", root_path, class: "item" %>
<a class="item">
  Messages
</a>
<div class="right menu">

  <div class="menu">
      <% if user_signed_in? %>
        <div class="item">
          <span class="name"><%= current_user.nickname %></span>
          <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "item" %>
        </div>
      <% else %>
        <%= link_to "Log in", new_user_session_path, class: "item" %>
      <% end %>
    </div>

</div>
