<h1 class="ui header">CHAT</h1>
<div class="ui cards">
  <% @chatrooms.each do |chatroom| %>
    <div class="card content">
      <div class="content">
        <%= link_to chatroom.name, chatroom_path(chatroom), class: "header" %>
      </div>
    </div>
  <% end %>
</div>
